<div class="container">
	<form (ngSubmit)="onSubmit()" [formGroup]="registerForm" novalidate>
		<h3 class="text-center mt-5">Formulario reactivo</h3>
		<label>Nombre*</label>
		<input type="text" formControlName="name" class="form-control" [ngClass]="{'is-valid': !form['name'].invalid ,'is-invalid':  form['name'].invalid && form['name'].touched }" />
		<div *ngIf="form['name'].errors && (form['name'].dirty || form['name'].touched)" class="invalid-feedback">
			<div *ngIf="form['name'].errors?.['required']">El nombre es obligatorio</div>
			<div *ngIf="form['name'].errors?.['pattern']">El formato es incorrecto</div>
		</div>


		<label>Apellidos*</label>
		<input type="text" formControlName="lastName" class="form-control" [ngClass]="{'is-valid': !form['lastName'].invalid ,'is-invalid':  form['lastName'].invalid && form['lastName'].touched }" />
		<div *ngIf="form['lastName'].errors && (form['lastName'].dirty || form['lastName'].touched)" class="invalid-feedback">
			<div *ngIf="form['lastName'].errors?.['required']">El apellido es obligatorio</div>
			<div *ngIf="form['lastName'].errors?.['minlength']">El apellido debe tener al menos 3 caracteres</div>
			<div *ngIf="form['lastName'].errors?.['pattern']">El formato es incorrecto</div>
		</div>

		<label>Correo electrónico*</label>
		<input type="text" formControlName="email" class="form-control" [ngClass]="{'is-valid': !form['email'].invalid , 'is-invalid': form['email'].invalid && form['email'].touched }" />
		<div class="loader" *ngIf="(form['email'].statusChanges | async) === 'PENDING'">Comprobando...</div>

		<div *ngIf="form['email']?.errors && (form['name'].dirty && form['email'].touched)" class="invalid-feedback">
			<div *ngIf="form['email'].errors?.['required']">El email es obligatorio</div>
			<div *ngIf="form['email'].errors?.['pattern']">El email debe de ser válido ejm: example@gmail.com</div>
			<div *ngIf="!(form['email'].errors?.['required'] || form['email'].errors?.['pattern']) && (form['email'].dirty && form['email'].touched)">El email ya existe, ingrese otro</div>
		</div>

		<label>Contraseña*</label>
		<input type="password" formControlName="password" class="form-control" [ngClass]="{'is-valid': !form['password'].invalid , 'is-invalid': form['password'].invalid && form['password'].touched }" />
		<div *ngIf="form['password'].errors && (form['password'].dirty || form['password'].touched)" class="invalid-feedback">
			<div *ngIf="form['password'].errors?.['required']">La contraseña es requerido</div>
			<div *ngIf="form['password'].errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</div>
		</div>

		<label>Repetir contraseña*</label>
		<input type="password" formControlName="repeatPass" class="form-control" [ngClass]="{'is-valid': !form['repeatPass'].invalid , 'is-invalid': form['repeatPass'].invalid && form['repeatPass'].touched }" />
		<div *ngIf="form['repeatPass'].errors && (form['repeatPass'].dirty || form['repeatPass'].touched)" class="invalid-feedback">
			<div *ngIf="form['repeatPass'].errors?.['required']">Repetir contraseña es requerido</div>
			<div *ngIf="form['repeatPass'].errors?.['mustMatch']">Las contraseñas no coinciden</div>
		</div>

		<br>
		<div class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" formControlName="terms" id="customCheck1">
			<label class="custom-control-label" for="customCheck1">Acepto los <a href="#">Términos y Condiciones</a>.</label>
		</div>

		<div class="text-center mt-4">
			<button class="btn btn-primary mr-1" [disabled]="registerForm.invalid">Registrarse</button>
			<button class="btn btn-secondary" type="reset" (click)="onReset()">Limpiar</button>
		</div>
        <br>
        <!-- <span> Nombre: {{ registerForm.value['name'] }} </span> -->
        <span> {{ registerForm.value | json }} </span>
	</form>    
</div>