<div class="container">
	<form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

		<h3 class="text-center mt-5">Inicio de sesión - Formulario reactivo</h3>
		<label>Nombre:</label>
		<input type="text" formControlName="name" class="form-control default-color" [ngClass]="{'is-valid': !form['name'].invalid ,'is-invalid':  form['name'].invalid && form['name'].touched }" />
		<div *ngIf="form['name'].errors && (form['name'].dirty || form['name'].touched)" class="invalid-feedback">
			<div *ngIf="form['name'].errors['required']">El nombre es obligatorio</div>
		</div>

		<label>Email:</label>
		<input type="text" formControlName="email" class="form-control default-color" [ngClass]="{'is-valid': !form['email'].invalid , 'is-invalid': form['email'].invalid && form['email'].touched }" />
		<div *ngIf="form['email'].errors && (form['email'].dirty || form['email'].touched)" class="invalid-feedback">
			<div *ngIf="form['email'].errors['required']">El email es obligatorio</div>
			<div *ngIf="form['email'].errors['email']">El email debe de ser válido</div>
		</div>

		<label>Contraseña:</label>
		<input type="password" formControlName="password" class="form-control default-color" [ngClass]="{'is-valid': !form['password'].invalid , 'is-invalid': form['password'].invalid && form['password'].touched }" />
		<div *ngIf="form['password'].errors && (form['password'].dirty || form['password'].touched)" class="invalid-feedback">
			<div *ngIf="form['password'].errors['required']">La contraseña es requerido</div>
			<div *ngIf="form['password'].errors['minlength']">La contraseña debe tener al menos 6 caracteres</div>
		</div>

		<label>Repetir contraseña:</label>
		<input type="password" formControlName="repeatPass" class="form-control default-color" [ngClass]="{'is-valid': !form['repeatPass'].invalid , 'is-invalid': form['repeatPass'].invalid && form['repeatPass'].touched }" />
		<div *ngIf="form['repeatPass'].errors && (form['repeatPass'].dirty || form['repeatPass'].touched)" class="invalid-feedback">
			<div *ngIf="form['repeatPass'].errors['required']">Repetir contraseña es requerido</div>
			<div *ngIf="form['repeatPass'].errors['mustMatch']">Las contraseñas deben coincidir</div>
		</div>

		<div class="text-center mt-4">
			<button class="btn btn-primary mr-1" [disabled]="registerForm.invalid">Registrarse</button>
			<button class="btn btn-secondary" type="reset" (click)="onReset()">Cancelar</button>
		</div>
        <br>
        <!-- <span> Nombre: {{ registerForm.value['name'] }} </span> -->
        <span> {{ registerForm.value | json }} </span>
	</form>
    
</div>